.specifier-profile {
  flex: 0 0 82%;
  padding: 15px;
  max-height: 2000px;
}
.specifier-image img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 0;
  max-height: 90px;
  max-width: 90px;
  float: right;
}
